<h1>Tanking Log</h1>
<p>Tankeos en orden cronologico</p>
<p>Para regresar a sus autos clic <%= link_to "Aqui", root_path %></p>
<p><%= flash[:notice] %> </p>
<p>Si la estacion no existe creela <%= link_to "Aqui", gas_station_new_path %></p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Cost</th>
			<th>Gallon</th>
			<th>Km</th>
			<th>Date</th>
			<th>CarID</th>
			<th>Gas StationID</th>
		</tr>
	</thead>
	<tbody>
	
	</tbody>
</table>

Cost	Float  
Gallon	Float
Km	Int
Date	date
Car_id	Int
Gas_station_id	Int